@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./assets/gameover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#div-container{
    min-height: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: center;
}
#vic-loss-message{
    height: 60px;
    width: 1200px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    color: white;
    font-size: 75px;
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;
}
h2{
    font-weight: 100;
    color: white;
    margin-top: 50px;
}
#replay{
    width: 350px;
    height: 75px;
    position: relative;
    bottom: 190px;
    left: 580px;
    border-radius: 50px;
    background-color: black;
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
    font-size: 48px;
    transition: all .2s ease-in-out;
}
#replay:hover{
    transform: scale(1.4);
}
